<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>생년월일: 1990-01-18</p>
                <p>거주지: 경기도 광주시</p>
                <P>학력: 서운고등학교 졸업 (2005.03 ~ 2008.02) / 세종대학교 (2008.03 ~ 2016.02)</P>
                <p>경력: 2020-03-10 ~ 2023-10-03</p>
                <p>기술스택: Spring(Boot) / Vue.js / Flutter</p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <table>
                    <tr>
                        <td>123</td>
                        <td>456</td>
                    </tr>
                    <tr>
                        <td>abc</td>
                        <td>def</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4">
                <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
            </div>
            <!--
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
      -->
        </div>
    </div>
</section>